* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 500;
}
main .logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.logos figure{
    margin: 30px;
    
}
.logos figure:hover{
    transform: scale(1.2,1.2);
}
figure figcaption{
    text-align: center;
}
figure img{
    height: 60px;
    
}
.BrowseName-search #BrowserName {
    height: 50px;
    margin-bottom: 10px;
}

.BrowseName-search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.search img{
    height: 20px;
    margin-right: 15px;
}
.search button{
    padding: 10px;
    border: none;
    background:gold;
    font-size: 18px;
    font-weight: 700;
    border-radius: 0 10px 10px 0;
}
.search input{
    width: 870px;
    height: 10px;
    border: none;
    outline: none;
}
.search{
     border: 3px solid gold;
     border-radius: 10px;
}
.Flag-Name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}
div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.Flag-Name p:hover{
    transform: scale(1.3,1.3);
}
h4{
    font-weight: 900;
}
div img {
    height: 15px;
    
}
div p{
    font-size: 15px;
    margin-left: 5px;

}
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer ul{

    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}
footer li{
    margin: 15px;
}
 




